body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;

}
*{
  box-sizing: border-box;
}
[class*="col-"]{
  padding: 10px;
  float: left;
  width: 100%;
}

@media only screen and (min-width: 350px) {
  /* For Tablets */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width:768) {
  /*  for dektop*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.66%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  }

   .header{
    background: url(Stadion_Kanjuruhan_Malang.jpg) no-repeat center;
    background-size: cover;
    height: auto;
  }

  .header .logo{
    text-align: center;
  }
  .header .logo img{
    width: 150px;
    height: auto;

  }
  .header .judul h1{
    position: relative;
    margin-bottom: 200px;
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
  }

  .menu{
  	background: #222;
  	float: left;
  	/*position: fixed;*/
  }

  .menu a{
  	padding: 20px;
    padding-left:130px;
  	list-style-type: none;
  	text-align: center;
  	text-decoration: none;
  	color: #fff;
    float: left;
  	text-transform: uppercase;
  	font-weight: bold;
  	font-family: Bahnschrift;
  	display: block;

  }

  .menu a:hover{
  	color: red;
  	background: white;
}


  .profil{
    width: 100%;
    height: 400px;
    padding: 0;
    background: #fff;
    background-size: cover;
    margin-top: 20px;
    position: relative;

  }
  .profil .left{
    width: 50%;
    height: auto;
    float: left;
  }
  .profil .left h1{
    text-align: right;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 20;
    border-right: 10px solid orange;
    margin-left: 10px;
    padding-right: 40px;
    font-weight: bold;
  }
  .profil h2{
    position: relative;
    margin: 2px;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
  }

  .profil .left p{
    margin-right: 50px;
    text-align: right;
    font-size: 20px;
    color: grey;
  }
  .profil .right{
    width: 50%;
    height: auto;
    float: right;
  }
  .profil .right img{
    width: 60%;
    height: auto;
    margin-top: 30px;
    margin-left: 40px;
    border: 10px solid green;
    border-radius: 20px;
  }
  .wisata{
    width: 100%;
    top: 0px;
    position: relative;
    margin: 0px;
    height: auto;
    background-color: #00BFFF;
  }
  .wisata .judul{
    height: auto;

  }
  .wisata  h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: algerian;
    color: #000;
  }
  .wisata h2{
    text-align: center;
    color: 	#000;
    font-size: 30px;
  }
  .wisata .left{
    position: relative;
    margin-left: 20px;
    margin-top: 10px
  }
  .wisata .right{
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
  }
  .wisata p{
    color: #fff;
    font-family: serif;
    font-size: 20px;
  }


  .wisata .box{
    text-align: center;
  }
  .wisata img{
    width: 400px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    border: 10px solid #FFA500;
  }
  .kuliner{
    width: 100%;
    top: 0px;
    position: relative;
    margin: 0px;
    height: auto;
    background-color: orange;
  }
  .kuliner .judul{
    height: auto;

  }
  .kuliner  h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
      font-family: algerian;
  }
  .kuliner h2{
    text-align: center;
    color: 	#000;
    font-size: 30px;
  }
  .kuliner .left{
    position: relative;
    margin-left: 20px;
    margin-top: 10px
  }
  .kuliner .right{
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
  }


  .kuliner .box{
    text-align: center;
  }
  .kuliner img{
    width: 400px;
    height: 300px;
    border-radius: 30%;
    margin: 0 auto;
    border: 10px solid #fff;
  }
  .kuliner p{
    color: #fff;
    font-family: serif;
    font-size: 20px;
  }
  .kesenian{
      width: 100%;
      top: 0px;
      position: relative;
      margin: 0px;
      height: auto;
      background-color: #fff;
  }
  .kesenian .judul{
    height: auto;
  }
  .kesenian h1{
    color:orange;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: algerian;
  }
  .kesenian img{
    padding: 0px;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    margin: 0 auto;
    margin-left: 110px;
    border: 10px solid orange;
    text-align: center;

  }
  .kesenian h2{
    float: left;
    text-align: center;
    color: 		#32CD32;
    font-size: 30px;
    padding-left: 150px;
  }
  .kesenian .box{
    padding-left: 150px;
    text-align: center;
  }

  .pemerintah{
      /* width: 100%; */
      top: 0px;
      position: relative;
      margin: 0px;
      height: auto;
      background-color: #fff;
  }
  .pemerintah .judul{
    height: auto;
  }
  .pemerintah h1{
    color:#00bfff;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: algerian;
  }
  .pemerintah img{
    padding: 0px;
    float: left;
    width: 250px;
    height:290px;
    border-radius: 10%;
    margin: 0 auto;
    border: 10px solid #00bfff;
    text-align: center;
    margin-left: 70px;


  }
  .pemerintah h2{
    float: left;
    margin-left: 50px;
    text-align: center;
    color: 	#000;
    font-size: 30px;


  }
  .pemerintah h3{
    text-align: center;
    color: orange;
    font-size: 25px;
    margin-top: 380px;
    margin-left: -150px;

  }
  .pemerintah .box{
    padding-left: 150px;
    text-align: center;
  }


  .arema{
    width: 100%;
    height: 400px;
    padding: 0;
    background: #00bfff;
    background-size: cover;
    margin-top: 20px;
    position: relative;

  }
  .arema .left{
    width: 50%;
    height: auto;
    float: left;
  }
  .arema .left h1{
    text-align: right;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 20;
    border-right: 5px solid red;
    padding-right: 50px;
    font-weight: bold;
  }
  .arema h2{
    position: relative;
    margin: 2px;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
  }

  .arema .left p{
    margin-right: 50px;
    text-align: right;
    font-size: 20px;
    color: #fff;
    margin-left: 200px;
    padding-right: 1px;
  }
  .arema .right{
    width: 50%;
    height: auto;
    float: right;
  }
  .arema .right img{
    width: 40%;
    height: auto;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 20px;
    border: 10px solid #fff;
  }
  .footer{
    background: #222;
    color: #fff;
  }
